body {
  padding-top: 50px;
  margin: auto;
  background-color: ivory;
}

.container .header {
  color: black;
  text-align: center;
}

h1 {
  font-size: 48px;
  color: darkslategrey;
  font-family: "Dancing Script", cursive;
  padding-bottom: 30px;
}

.text-body {
  font-size: 20px;
  color: darkslategrey;
  font-family: "Overlock", cursive;
}

.subheader {
  font-size: 16px;
  color: darkslategrey;
  font-family: "Overlock", cursive;
}
