.wren-photo {
  border-radius: 20px;
  display: inline-block;
  margin: auto;
  height: 25%;
  width: 25%;
}

#email-link {
  position: absolute;
  display: inline-block;
  float: right;
  margin-left: 100px;
}
