.navbar-default {
  background-color: #0f006f;
  border-color: #FFFFB2;

}

.footer {
  background-color: lightpink;
  padding-bottom: 25px;
  margin-bottom: 40px;
  margin-top: 50px;
  .footer-text {
    text-align: center;
    vertical-align: middle;
    padding-top: 25px;
  }
}