doctype html

html
    head
        title= 'Joe and Liana\'s Wedding Page'
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css', rel='stylesheet')
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css', rel='stylesheet')
        link(rel='stylesheet', href=__BUILD_URL__+'main.css')
        <script src="https://use.fontawesome.com/1a91a7a5e2.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Overlock" rel="stylesheet">
    body
        #main
        script(src=__BUILD_URL__+ 'main.bundle.js')
